:root { 
  --black: #000000;
  --black-haze: #f6f6f6;
  --razzle-dazzle-rose: #f32febd1;
  --white: #ffffff;
  --white-2: #ffffff99;
 
  --font-size-l: 24px;
  --font-size-m: 20px;
  --font-size-s: 12px;
  --font-size-xl: 48px;
  --font-size-xxl: 52px;
  --font-size-xxxl: 64px;
  --font-size-xxxxl: 80px;
 
  --font-family-genos: "Genos", Helvetica;
  --font-family-michroma: "Michroma", Helvetica;
  --font-family-montserrat: "Montserrat", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
}
.michroma-normal-white-24px {
  color: var(--white);
  font-family: var(--font-family-michroma);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.genos-normal-white-64px {
  color: var(--white);
  font-family: var(--font-family-genos);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 400;
}

.genos-normal-white-48px {
  color: var(--white);
  font-family: var(--font-family-genos);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.genos-normal-white-80px {
  color: var(--white);
  font-family: var(--font-family-genos);
  font-size: var(--font-size-xxxxl);
  font-style: normal;
  font-weight: 400;
}

.border-2px-white {
  border: 2px solid var(--white);
}
