.roadmap {
  align-items: flex-start;
  background: linear-gradient(180deg, rgb(8.35, 1.09, 20.19) 0%, rgb(56.28, 2.63, 57.37) 100%);
  background-color: rgba(255,255,255,1.0);
  display: cover;
  min-width: 1440px;
}

.overlap-group8 {
  height: 5811px;
  position: relative;
  width: cover.width;
}

.desktop-header-light-7 {
  align-items: flex-start;
  background-color: #ffffff1a;
  display: flex;
  height: 100%;
  width: cover.width;
  overflow: hidden;
  
}

.overlap-group7 {
  height: 5811px;
  margin-left: -9px;
  position: relative;
  width: 1460px;
}

.desktop-header-light-7-1 {
  left: 9px;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.overlap-group6 {
  height: 5797px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1560px;
}

.desktop-hero-light-1 {
  height: flex;
  left: 9px;
  position: absolute;
  top: 0;
  width: 100%;
}

.desktop-navbar {
  align-items: center;
  background-color: #ffffff26;
  display: flex;
  height: 156px;
  left: 9px;
  padding: 43px 46px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.right {
  align-items: flex-start;
  display: flex;
  height: 38px;
  margin-left: 568px;
  margin-top: 2.0px;
  overflow: hidden;
  width: 498px;
}

.desktop-menu {
  align-items: flex-start;
  display: flex;
  margin-top: -5px;
  width: 481px;
}

.text-link {
  height: 48px;
  width: 71px;
}

.text-link-1 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  margin-left: 94px;
  padding: 9px 10px;
  width: 120px;
}

.community {
  color: #56ccf2;
  font-family: var(--font-family-montserrat);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.20px;
  line-height: 28px;
  min-height: 28px;
  min-width: 100px;
  text-align: center;
  white-space: nowrap;
}

.text-link-2 {
  align-items: flex-start;
  display: flex;
  height: 48px;
  margin-left: 94px;
  padding: 9px 10px;
  width: 102px;
}

.roadmap-1 {
  color: #bb6bd9;
  font-family: var(--font-family-montserrat);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.20px;
  line-height: 28px;
  min-height: 28px;
  min-width: 82px;
  text-align: center;
  white-space: nowrap;
}

.master-button {
  align-items: flex-start;
  align-self: flex-end;
  background: linear-gradient(180deg, rgba(255, 102, 221.34, 0.9) 0%, rgba(188.36, 46.75, 255, 0.95) 100%);
  border-radius: 30px;
  box-shadow: 0px 10px 30px #b6322633;
  display: flex;
  height: 68px;
  margin-left: 46px;
  overflow: hidden;
  padding: 15px 38.0px;
  width: 236px;
}

.surname {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0.10px;
  line-height: 36px;
  min-height: 36px;
  white-space: nowrap;
}

.group-59 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 136px;
  min-height: 216px;
  position: absolute;
  top: 1549px;
  width: 382px;
}

.type {
  letter-spacing: 1.20px;
  line-height: 85px;
  min-height: 87px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  white-space: nowrap;
  width: 173px;
}

.flex-row {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  margin-right: 6.0px;
  margin-top: 21px;
  min-width: 328px;
}

.rectangle-50 {
  background-color: var(--razzle-dazzle-rose);
  height: 101px;
  margin-top: 0.39px;
  width: 10px;
}

.x1-2 {
  height: 101px;
  margin-left: 23px;
  margin-top: 0.1px;
  object-fit: cover;
  width: 101px;
}

.common-rare-container {
  height: 108px;
  margin-left: 24px;
  position: relative;
  width: 170px;
}

.common-rare-legend {
  left: 0;
  letter-spacing: 0.20px;
  line-height: 26.2px;
  position: absolute;
  text-shadow: 0px 4px 4px #5fffe2;
  top: 0;
  width: 170px;
}

.common-rare {
  left: 0;
  letter-spacing: 0.20px;
  line-height: 26.2px;
  position: absolute;
  top: 0;
  width: 170px;
}

.x1-1 {
  height: 538px;
  left: 753px;
  object-fit: cover;
  position: absolute;
  top: 1439px;
  width: 538px;
}

.rectangle-56 {
  background-color: var(--white-2);
  border-radius: 113px;
  box-shadow: inset 6px 4px 6px #00000073;
  height: 174px;
  left: 291px;
  position: absolute;
  top: 2199px;
  width: 1121px;
}

.rectangle-57 {
  background-color: var(--white-2);
  border-radius: 113px;
  box-shadow: inset 6px 4px 4px #00000073;
  height: 174px;
  left: 495px;
  position: absolute;
  top: 2440px;
  width: 917px;
}

.group-60 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 218px;
  position: absolute;
  top: 1807px;
  width: 831px;
}

.attributes {
  letter-spacing: 1.20px;
  line-height: 75px;
  min-height: 87px;
  text-align: center;
  text-shadow: 0px 4px 4px #00000073;
  white-space: nowrap;
  width: 586px;
}

.flex-row-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 117px;
  margin-right: 6px;
  margin-top: 14px;
  min-width: 640px;
}

.rectangle-50-1 {
  background-color: var(--razzle-dazzle-rose);
  height: 101px;
  margin-top: 3.39px;
  width: 10px;
}

.head-face-body {
  letter-spacing: 0.20px;
  line-height: 26.2px;
  margin-left: 28px;
  min-height: 114px;
  width: 154px;
}

.rectangle-51 {
  align-self: center;
  background-color: var(--razzle-dazzle-rose);
  height: 101px;
  margin-bottom: 7.58px;
  margin-left: 142px;
  width: 10px;
}

.background-hand-back {
  align-self: flex-end;
  letter-spacing: 0.20px;
  line-height: 26.2px;
  margin-left: 21px;
  min-height: 114px;
  width: 275px;
}

.rectangle-48 {
  height: 904px;
  left: 9px;
  position: absolute;
  top: 681px;
  width: 1440px;
}

.ellipse-1 {
  background: radial-gradient(50% 50% at 50% 50%, rgba(5.31, 5.31, 5.31, 0.81) 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 192.5px/11px;
  height: 22px;
  left: 172px;
  mix-blend-mode: darken;
  position: absolute;
  top: 1062px;
  width: 385px;
}

.overlap-group1 {
  height: 223px;
  left: 789px;
  position: absolute;
  top: 1113px;
  width: 552px;
}

.x1-2-1 {
  height: 101px;
  left: 71px;
  object-fit: cover;
  position: absolute;
  top: 77px;
  width: 101px;
}

.number {
  color: var(--white);
  font-family: var(--font-family-michroma);
  font-size: 58px;
  font-weight: 400;
  left: 72px;
  letter-spacing: 0.20px;
  line-height: 26.2px;
  position: absolute;
  text-align: center;
  top: 89px;
  width: 480px;
}

.planets {
  color: var(--black-haze);
  font-family: var(--font-family-montserrat);
  font-size: 36px;
  font-weight: 500;
  left: 103px;
  letter-spacing: 0.20px;
  line-height: 26.2px;
  position: absolute;
  text-align: right;
  top: 145px;
  width: 234px;
}

.rectangle-50-2 {
  background-color: var(--razzle-dazzle-rose);
  height: 101px;
  left: 38px;
  position: absolute;
  top: 77px;
  width: 10px;
}

.nft-specifications {
  left: 0;
  letter-spacing: 1.20px;
  line-height: 85px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 416px;
}

.vector {
  height: 67px;
  left: 649px;
  position: absolute;
  top: 1703px;
  width: 39px;
}

.vector-1 {
  height: 67px;
  left: 1355px;
  position: absolute;
  top: 1692px;
  width: 40px;
}

.overlap-group3 {
  height: 498px;
  left: 315px;
  position: absolute;
  top: 2100px;
  width: 1145px;
}

.overlap-group2 {
  height: 498px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1145px;
}

.catear1-01-1 {
  height: 308px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 119px;
  width: 410px;
}

.catear1-01-2 {
  height: 304px;
  left: 332px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 410px;
}

.catear1-01-3 {
  height: 280px;
  left: 284px;
  object-fit: cover;
  position: absolute;
  top: 218px;
  width: 378px;
}

.catear1-01-4 {
  height: 280px;
  left: 626px;
  object-fit: cover;
  position: absolute;
  top: 218px;
  width: 378px;
}

.catear1-01-3-1 {
  height: 304px;
  left: 611px;
  object-fit: cover;
  position: absolute;
  top: 107px;
  width: 410px;
}

.vector-2 {
  height: 54px;
  left: 7px;
  position: absolute;
  top: 164px;
  width: 32px;
}

.vector-3 {
  height: 54px;
  left: 1021px;
  position: absolute;
  top: 164px;
  width: 32px;
}

.body {
  left: 922px;
  letter-spacing: 0.20px;
  line-height: 26.2px;
  position: absolute;
  top: 300px;
  width: 223px;
}

.surname-1 {
  left: 816px;
  letter-spacing: 0.20px;
  line-height: 26.2px;
  position: absolute;
  top: 64px;
  width: 223px;
}

.group-77 {
  height: 54px;
  left: 540px;
  position: absolute;
  top: 2500px;
  width: 825px;
}

.rectangle-51-1 {
  height: 3699px;
  left: 8px;
  position: absolute;
  top: 2098px;
  width: 1440px;
}

.group-79 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 751px;
  min-height: 463px;
  position: absolute;
  top: 3030px;
  width: 175px;
}

.group-75 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 191px;
  width: 172px;
}

.x1-2-2 {
  height: 172px;
  margin-right: 0.28px;
  object-fit: cover;
  width: 172px;
}

.group-65 {
  background: radial-gradient(50% 50% at 50% 50%, rgba(5.31, 5.31, 5.31, 0.81) 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 78.64px/4.49px;
  height: 9px;
  margin-top: 10px;
  width: 157px;
}

.group-63 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 74px;
  min-height: 198px;
  width: 175px;
}

.saveplanet-1 {
  height: 183px;
  margin-right: 0.16px;
  object-fit: cover;
  width: 183px;
}

.ellipse-2 {
  background: radial-gradient(50% 50% at 50% 50%, rgba(5.31, 5.31, 5.31, 0.81) 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 78.64px/4.49px;
  height: 9px;
  margin-right: 0.41px;
  margin-top: 6px;
  mix-blend-mode: darken;
  width: 157px;
}

.group-container {
  height: 453px;
  left: 877px;
  position: absolute;
  top: 3030px;
  width: 507px;
}

.overlap-group {
  height: 88px;
  left: 24px;
  position: absolute;
  top: 365px;
  width: 463px;
}

.address,
.title {
  left: 0;
  letter-spacing: 1.20px;
  line-height: 85px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 463px;
}

.ellipse-3 {
  border-radius: 26.93px/27.96px;
  height: 56px;
  left: 399px;
  position: absolute;
  top: 19px;
  width: 54px;
}

.n {
  left: 414px;
  letter-spacing: 1.20px;
  line-height: 85px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 25px;
}

.group-66 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 388px;
  position: absolute;
  top: 0;
  width: 507px;
}

.overlap-group-1 {
  height: 150px;
  position: relative;
  width: 476px;
}

.address-1 {
  left: 13px;
  letter-spacing: 1.20px;
  line-height: 85px;
  position: absolute;
  text-align: center;
  top: 62px;
  white-space: nowrap;
  width: 463px;
}

.ellipse-3-1 {
  border-radius: 26.93px/28.03px;
  height: 56px;
  left: 401px;
  position: absolute;
  top: 81px;
  width: 54px;
}

.n-1 {
  left: 416px;
  letter-spacing: 1.20px;
  line-height: 85px;
  position: absolute;
  text-align: center;
  top: 62px;
  white-space: nowrap;
  width: 25px;
}

.public-sale {
  align-self: flex-end;
  letter-spacing: 1.20px;
  line-height: 85px;
  margin-right: 0;
  margin-top: 149px;
  min-height: 88px;
  text-align: center;
  white-space: nowrap;
  width: 463px;
}

.overlap-group5 {
  height: 260px;
  left: 514px;
  position: absolute;
  top: 357px;
  width: 745px;
}

.what-is-the-save-planet {
  color: var(--white);
  font-family: var(--font-family-genos);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  left: 0;
  letter-spacing: 1.20px;
  line-height: 85px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 525px;
}

.rebirthing-the-new-g {
  color: var(--black-haze);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 500;
  left: 33px;
  letter-spacing: 0.20px;
  line-height: 26.2px;
  position: absolute;
  top: 101px;
  width: 712px;
}

.group-61 {
  background-color: var(--razzle-dazzle-rose);
  height: 58px;
  left: 6px;
  position: absolute;
  top: 97px;
  width: 10px;
}

.catusv2-t-1 {
  height: 758px;
  left: 6px;
  position: absolute;
  top: 402px;
  width: 655px;
}

.sun {
  height: 96px;
  left: 9px;
  position: absolute;
  top: 803px;
  width: 96px;
}

.social-media {
  height: 41px;
  left: 1307px;
  position: absolute;
  top: 5745px;
  width: 106px;
}

.subtitle {
  align-items: flex-start;
  display: flex;
  height: 18px;
  left: 24px;
  padding: 0 10px;
  position: absolute;
  top: 5770px;
  width: 141px;
}

.copywright-2022-rnx {
  color: #f2f2f2;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-weight: 700;
  letter-spacing: 0.10px;
  line-height: 18px;
  margin-top: -1px;
  min-height: 18px;
  min-width: 121px;
  text-align: right;
  white-space: nowrap;
}

